// Main

$body-bg:#1A1C23;
$body-color: #B0B7C3;
$card-bg: #22252E;
$border-color:#363B47;
$secondary: #8A92A6;
$dark: #60658a;

$theme-colors: map-merge($theme-colors,
  (
    "secondary":       $secondary,
  )
);

$alert-bg-scale: 60%;
$alert-border-scale: 80%;
$alert-color-scale: 80%;